<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiopengl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BlendingActivity"></activity>
        <activity android:name=".MultipleShaderActivity" />
        <activity android:name=".StencilTestActivity" />
        <activity android:name=".Texture2DActivity" />
        <activity android:name=".LightingSourceActivity" />
        <activity android:name=".ParticleActivity" />
        <activity android:name=".DepthTestActivity" />
        <activity android:name=".FrameBufferActivity" />
        <activity android:name=".MeshActivity" />
        <activity android:name=".SurfaceTextureActivity" />
        <activity android:name=".MaterialActivity" />
        <activity android:name=".Texture3DActivity" />
        <activity android:name=".PhongLightingActivity" />
        <activity android:name=".VertexActivity" />
        <activity android:name=".FaceCullingActivity" />
        <activity android:name=".ViewportActivity" />
        <activity android:name=".ProjectionActivity" />
        <activity android:name=".ViewModelActivity" />
        <activity android:name=".GLSLActivity" />
        <activity android:name=".PolyhedronActivity" />
        <activity android:name=".GeometricActivity" />
        <activity android:name=".CanvasActivity" />
        <activity android:name=".SurfaceViewActivity" />
        <activity android:name=".TextureViewActivity" />
        <activity android:name=".GLSurfaceViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>