<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiopengl">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".android.recorder.OffscreenRecorderActivity" />
        <activity android:name=".android.graphics.OpenGLSurfaceTextureActivity" />
        <activity android:name=".android.reader.GLReadPixelsYUVActivity" />
        <activity android:name=".android.arcore.ARCoreKickoffActivity" />
        <activity android:name=".basic.texture.TextureCubemapsActivity" />
        <activity android:name=".basic.texture.TextureVideoActivity" />

        <meta-data
            android:name="com.android.graphics.developerdriver.enable"
            android:value="true" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".android.recorder.DrawTwiceActivity" />
        <activity android:name=".android.recorder.GlBlitFramebufferActivity" />
        <activity android:name=".android.recorder.FBOBlitx2Activity" />
        <activity android:name=".android.recorder.SyncRecorderActivity" />
        <activity android:name=".practices.SkyboxActivity" />
        <activity android:name=".practices.TextRenderingActivity" />
        <activity android:name=".advanced.AssimpActivity" />
        <activity android:name=".advanced.ModelLoadingActivity" />
        <activity android:name=".advanced.SharedContextActivity" />
        <activity android:name=".basic.RBOActivity" />
        <activity android:name=".basic.vertex.VertexBufferOpenGL30Activity" />
        <activity android:name=".basic.vertex.VertexArrayOpenGL20Activity" />
        <activity android:name=".basic.vertex.VertexArrayOpenGL10Activity" />
        <activity android:name=".basic.texture.TextureMipmapActivity" />
        <activity android:name=".basic.texture.TextureTransparentActivity" />
        <activity android:name=".android.camera.CameraFilterActivity" />
        <activity android:name=".android.graphics.SurfaceViewAndTextureViewActivity" />
        <activity android:name=".android.reader.HardwareBufferActivity" />
        <activity android:name=".android.reader.PBOActivity" />
        <activity android:name=".android.reader.ImageReaderActivity" />
        <activity android:name=".android.reader.GLReadPixelsActivity" />
        <activity android:name=".android.graphics.CanvasTextureViewActivity" />
        <activity android:name=".android.graphics.CanvasViewActivity" />
        <activity android:name=".android.codec.VideoDecodeActivity" />
        <activity android:name=".android.codec.VideoEncodeActivity" />
        <activity android:name=".android.codec.VideoExtractorActivity" />
        <activity android:name=".advanced.ScissorTestActivity" />
        <activity android:name=".advanced.BlendingActivity" />
        <activity android:name=".basic.MultipleShaderActivity" />
        <activity android:name=".advanced.StencilTestActivity" />
        <activity android:name=".basic.texture.Texture2DActivity" />
        <activity android:name=".advanced.LightingActivity" />
        <activity android:name=".practices.ParticleActivity" />
        <activity android:name=".advanced.DepthTestActivity" />
        <activity android:name=".advanced.FrameBufferActivity" />
        <activity android:name=".advanced.MeshActivity" />
        <activity android:name=".advanced.MaterialActivity" />
        <activity android:name=".advanced.GeometryShaderActivity" />
        <activity android:name=".basic.texture.Texture3DActivity" />
        <activity android:name=".advanced.PhongLightingActivity" />
        <activity android:name=".basic.vertex.VertexActivity" />
        <activity android:name=".advanced.FaceCullingActivity" />
        <activity android:name=".basic.coordinate.ViewportActivity" />
        <activity android:name=".basic.coordinate.ProjectionActivity" />
        <activity android:name=".basic.coordinate.ViewModelActivity" />
        <activity android:name=".basic.GLSLActivity" />
        <activity android:name=".practices.PolyhedronActivity" />
        <activity android:name=".practices.PanoramaActivity" />
        <activity android:name=".basic.PrimitiveActivity" />
        <activity android:name=".android.graphics.CanvasSurfaceViewActivity" />
        <activity android:name=".android.graphics.OpenGLSurfaceViewActivity" />
        <activity android:name=".android.graphics.OpenGLTextureViewActivity" />
        <activity android:name=".android.graphics.OpenGLGLSurfaceViewActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>